/* 
    General
*/

* {
    box-sizing: border-box;
}

/*
    Navbar
*/

.navbar-brand {
    width: 50%;
    margin-right: 0px;
	text-align: center;
}

.navbar-collapse {
    width: 50%;
}

.nav-item {
    white-space: nowrap;
    overflow: hidden;
}

.navbar-light .navbar-brand {
	color: #fff;
}

/*
	Home
*/

h1 {
	display: table-cell;
    vertical-align:middle; 
}

.home div {
	height: 100vh;
}

.home-picture {
	background-image: url("../images/personal-photo.jpg");
	background-size: cover;
}

.home-intro {
	display: table;
	background-color: #edc951;
}
