/* 
    General
*/

/*
    Navbar
*/

.navbar-brand {
    width: 50%;
    margin-right: 0px;
	text-align: center;
}

.navbar-collapse {
    width: 50%;
}

.nav-item {
    white-space: nowrap;
    overflow: hidden;
}

.navbar-light .navbar-brand {
	color: #fff;
}

@media (max-width: 768px) { 
    .navbar {
        background-color: #fff;
    }

    .navbar-light a.navbar-brand {
        color: rgba(0,0,0,.5);
    }
}

/*
	Home
*/

.home h1 {
    position: absolute;
    top: 50%;
}

.home-picture {
	background-image: url("../images/personal-photo.jpg");
    background-size: cover;
    height: 100vh;
}

.home-intro {
    background-color: #e9c46a;
    height: 100vh;
}

/*
    About me
*/

.about-me h1 {
    position: absolute;
    top: 50%;
}

.about-me-picture {
    background-image: url(../images/about-me-photo.jpg);
    background-size: cover;
    height: 50vh;
}

.about-me-info {
    background-color: #f4a261;
    height: 50vh;
    position: relative;
}

.about-me-skills {
    height: 50vh;
}

/* 
    Education
*/


.education h1 {
    position: absolute;
    top: 50%;
}

.education-picture {
    background-image: url("../images/education-photo.jpg");
    background-size: cover;
    height: 50vh;
}

.education-info {
    background-color: #264653;
    height: 50vh;
    position: relative;
}

/* 
    Experiences
*/

.experiences h1 {
    position: absolute;
    top: 50%;
}

.experiences-picture {
    background-image: url(../images/about-me-photo.jpg);
    background-size: cover;
    height: 50vh;
} 

.experiences-info {
    background-color: #e76f51;
    height: 50vh;
    position: relative;
}